* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(237, 220, 208);
  line-height: 1.2;
  font-family: "Roboto Slab", serif;
}

.figure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20rem;
}

.container {
  align-items: center;
  width: 70rem;
  height: 45rem;
  display: flex;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
}

.description-box {
  flex-shrink: 1.5;
  padding: 1.6rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.subtittle {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.heading {
  font-size: 3.2rem;
  line-height: 1;
  padding: 0 6.4rem 0 0;
}

.description {
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0 3.2rem 0 0;
}

.price-box {
  color: #0d6648;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  font-weight: 600;
}

.price {
  font-size: 3.2rem;
}

.price-straight-line {
  font-size: 1.6rem;
  color: rgb(107, 107, 107);
  text-decoration: line-through;
}

.btn {
  font-size: 2.4rem;
  margin: 0 3.2rem;
  padding: 1.6rem;
  color: #fff;
  background-color: #0b4e38;
  border: none;
  border-radius: 16px;
  transition: all 300ms;
}

.btn:hover {
  background-color: #12815c;
  cursor: pointer;
}

.icon {
  scale: 150%;
  width: fit-content;
  height: fit-content;
  margin-right: 1.6rem;
}
